@keyframes AnimationName {
  0% { background-position: 86% 0%; }
  50% { background-position: 15% 100%; }
  100% { background-position: 86% 0%; }
}

@-webkit-keyframes AnimationName {
  0% { background-position: 86% 0%; }
  50% { background-position: 15% 100%; }
  100% { background-position: 86% 0%; }
}

@-moz-keyframes AnimationName {
  0% { background-position: 86% 0%; }
  50% { background-position: 15% 100%; }
  100% { background-position: 86% 0%; }
}
